html {
  scroll-behavior: smooth;
}

h2 {
  padding: 0px;
}

section h2 span {
  color: #ffffff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 3%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px 55px;
  border-radius: 20px;
  font-size: 90%;
}

video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

.clip {
  clip-path: circle(40% at 50% 50%);
}
span {
  content: "\2709";
  height: 5px;
}
body {
  font-family: sans-serif;
}

.carousel {
  background: #eee transparent;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carosel-cell img {
  width: 100%;
}
.profile {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin: 20px 0px 30px 0px;
  font-family: "Times New Roman", Times, serif;
}
.layover {
  position: absolute;
}
.container {
  display: inline-block;
}
h2 span {
  text-align: left;
}
.container {
  display: inline-block;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 400;
}

/* product Cards */
.product-grid {
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: all 0.5s;
}
.product-grid:hover {
  box-shadow: 0 5px 18px  #646363e5;
}
.product-grid .product-image {
  position: relative;
  overflow: hidden;
}

.new .product-grid:hover {
  box-shadow: 0 5px 18px #646363e5;
}
.product-grid .product-image {
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-image .pic-1 {
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
.product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
}
.product-grid .product-sale-label {
  color: #fff;
  background: #c5312d;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
}
.product-grid .social li {
  transform: translateX(60px);
  transition: all 0.3s ease 0.3s;
}
.product-grid .social li:nth-child(1) {
  transition: all 0.3s ease 0.4s;
}
.product-grid:hover .social li {
  transform: translateX(0);
}
.product-grid .social li a {
  color: #707070;
  background: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 7px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid .social li a:hover {
  color: #1c0303;
}
.product-grid .product-rating {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: all 0.2s ease-in-out 0s;
}
.product-grid:hover .product-rating {
  opacity: 1;
  bottom: 0;
}
.product-grid .rating {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.product-grid .rating li {
  color: #fdcc0d;
  font-size: 13px;
}
.product-grid .rating li.far {
  color: #999;
}
.product-grid .add-to-cart {
  color: #6da84a;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #6da84a;
  float: right;
  transition: all 0.2s ease-in-out 0s;
}
.product-grid .add-to-cart:hover {
  color: #000;
  border-color: #000;
}
.product-grid .product-content {
  background: #f5f5f5;
  padding: 15px;
}
.product-grid .title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.product-grid .title a {
  color: #111;
  transition: all 500ms;
}
.product-grid .title a:hover {
  color: #6da84a;
}
.product-grid .price {
  color: #098900;
  font-size: 17px;
  text-decoration: underline;
}
.product-grid .price span {
  text-decoration: line-through;
  margin-right: 5px;
  display: inline-block;
  opacity: 0.6;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 40px;
  }
}

/* Welcome message Animation */

h3 {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h3 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  color: #3b3b3b;
}

h3 span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(2) {
  animation: fade-in 0.8s 0.15s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(3) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(4) {
  animation: fade-in 0.8s 0.25s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(5) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(6) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(7) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(8) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(9) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(10) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(11) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(12) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(13) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(14) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(15) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(16) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(17) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3 span:nth-child(18) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(19) {
  animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(20) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(21) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(22) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(23) {
  animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(24) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(25) {
  animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(26) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(27) {
  animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(28) {
  animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(29) {
  animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(30) {
  animation: fade-in 0.8s 4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(31) {
  animation: fade-in 0.8s 4.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(32) {
  animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(33) {
  animation: fade-in 0.8s 4.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(34) {
  animation: fade-in 0.8s 4.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(35) {
  animation: fade-in 0.8s 4.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(36) {
  animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(37) {
  animation: fade-in 0.8s 4.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(38) {
  animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(39) {
  animation: fade-in 0.8s 4.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(40) {
  animation: fade-in 0.8s 5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(41) {
  animation: fade-in 0.8s 5.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(42) {
  animation: fade-in 0.8s 5.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(43) {
  animation: fade-in 0.8s 5.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(44) {
  animation: fade-in 0.8s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(45) {
  animation: fade-in 0.8s 5.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
h3 span:nth-child(46) {
  animation: fade-in 0.8s 5.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@import url("https://fonts.cdnfonts.com/css/work-sans");

/* Body Background */

main {
  text-align: center;
}

/* Key benefits */
.benafit-grid {
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.benafit-grid:hover {
  transform: scale(1.05);
}

/* Owner Profile */

@import url(https://fonts.googleapis.com/css?family=Roboto);

span img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 200px;
  border: 5px solid #ffffff;
}

aside {
  border-top: 0px solid #26a69a;
  border-bottom: 0px solid #00695c;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  background: url("../random image/27250370_1289.jpg");
  background-size: cover;
  overflow: hidden;
  transition: all ease 0.3s;
  box-shadow: 0 0 30px  #646363e5;
}

aside:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-radius: 15px;
  height: 480px;
  width: 350px;
  box-shadow: 0 0 30px 10px #4327fdae;
}

aside:hover span img {
  animation: profile_image 2000ms linear both;
  animation-delay: 0.5s;
}

span {
  text-align: center;
}

span h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.25s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

aside:hover span h1 {
  margin-top: 0px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}

span h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  transition: all linear 1.5s;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.42) 49%,
    rgba(0, 0, 0, 0.61) 100%
  );
}

aside:hover .profile-bio {
  opacity: 1;
}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}
/*PROFILE IMAGE ANIMATE */

@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/*NAME ANIMATE */

aside:hover span h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}

@keyframes name_and_job {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(
      3.905,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -237.02,
      0,
      0,
      1
    );
  }
  2.55% {
    transform: matrix3d(
      4.554,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -182.798,
      0,
      0,
      1
    );
  }
  4.1% {
    transform: matrix3d(
      4.025,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -125.912,
      0,
      0,
      1
    );
  }
  5.71% {
    transform: matrix3d(
      3.039,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -79.596,
      0,
      0,
      1
    );
  }
  8.11% {
    transform: matrix3d(
      1.82,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -31.647,
      0,
      0,
      1
    );
  }
  8.81% {
    transform: matrix3d(
      1.581,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -21.84,
      0,
      0,
      1
    );
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(
      0.947,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      12.662,
      0,
      0,
      1
    );
  }
  16.12% {
    transform: matrix3d(
      0.951,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      13.007,
      0,
      0,
      1
    );
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* footer */

footer {
  width: 100%;
  bottom: 0px;
}
footer div {
  background: #4478e3;
  animation: gradient 15s ease infinite;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}
svg {
  width: 100%;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #4478e3;
}
.gooeff {
  filter: url(#goo);
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

/* benafits icon */

.cards {
  position: relative;
  width: 320px !important;
  height: 450px;
  margin: 30px !important;
  background: #2b5ef8;
  border-radius: 20px;
  border-bottom-left-radius: 168px;
  border-bottom-right-radius: 168px;
  box-shadow: 0 15px 0 #ffffff, inset 0 -15px rgba(255, 255, 255, 0.25),
    0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  align-content: center;
  transition: all 0.2s ease-in-out;
}
/* .cards :hover{
  transform: scale(1.3);
}HERE */

.cards::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 55, 0.2));
  transform: rotate(35deg);
  filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.cards:nth-child(2) {
  background: linear-gradient(to bottom, #24ff72, #9a4eff);
}
.cards:nth-child(3) {
  background: linear-gradient(to bottom, #f60ad2, #0d01f8);
}
.cards:nth-child(4) {
  background: linear-gradient(to bottom, #ff5d23, #00ffd5);
}

.icons {
  position: relative;
  width: 140px;
  height: 120px;
  background: #ffffff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 15px 0 #b7b4b4, inset 0 -8px 0 #fff;
  z-index: 1000;
  margin-left: 80px;
}

.icons .coni {
  color: #fff;
  position: relative;
  font-size: 5.7em;
  z-index: 1000;
}
.contents {
  position: absolute;
  width: 100%;
  padding: 4px;
  padding-top: 20px;
  text-align: center;
  padding-right: 23px;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.con {
  position: relative;
}

/* Footer */

.social ul {
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social ul li {
  list-style: none;
  display: inline-block;
}

.social ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.social ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.social ul li a .fab {
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.2s, all 0.2s ease-in-out;
}
.social ul li a:hover {
  transform: scale(1.15);
}

.social ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

.social ul li:nth-child(2) a:hover .fab {
  color: #e4405f;
}
.social ul li:nth-child(3) a:hover .fab {
  color: #25d366;
}
.social ul li:nth-child(4) a:hover .fab {
  color: #0088cc;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu li {
  list-style: none;
  font-size: 2em;
  color: #fff;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}
.menu li a {
  color: white;
  text-decoration: none;
  opacity: 0.75;
}

.menu li a:hover {
  opacity: 1;
}
.fp {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* back to top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* testimoney */

.testimonial {
  border-right: 4px solid #2a3d7d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
}
.testimonial:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -17px;
  border-top: 25px solid #048d9c;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(45deg);
}
.testimonial:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -17px;
  border-top: 25px solid #048d9c;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  transform: rotate(135deg);
}
.testimonial .pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 20px;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .description {
  font-size: 15px;
  letter-spacing: 1px;
  color: #6f6f6f;
  line-height: 25px;
  margin-bottom: 15px;
}
.testimonial .title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #048d9c;
  margin: 0;
}
.testimonial .post {
  display: inline-block;
  font-size: 17px;
  color: #048d9c;
  font-style: italic;
}
.owl-theme .owl-controls .owl-page span {
  border: 2px solid #2a3d7d;
  background: #fff !important;
  border-radius: 0 !important;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background: #048d9c !important;
  border-color: #048d9c;
}
@media only screen and (max-width: 767px) {
  .testimonial {
    padding: 20px;
    text-align: center;
  }
  .testimonial .pic {
    display: block;
    position: static;
    margin: 0 auto 15px;
  }
}

.title{
  font-size: 20px;
}
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.greet {
  font-family: "Montserrat Medium";
  color: rgb(129, 1, 1);
  font-size: 20px;
}

@media screen and (min-width:320px)
{
  .title{
  font-size:15px;
}
.greet{
  font-size: 17px;
}
.fsize{
  font-size: 15px;
}
.fbsize{
  font-size: 15px;
}
}

@media all and (min-width:800px) {
  .title{
  font-size:20px;
  }
  .greet{
    font-size: 40px;
  }
  .fsize{
    font-size: 28px;
  }
  .fbsize{
    font-size:28px;
  }
}




