* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


main {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

h2 {
  padding: 0px;
}
section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}
#myDiv {
  height: auto;
  width: auto;
  background: 
  url("../random image/flooring-white-space-scene-desk.jpg");
  background-size: 1500px 995.74px ;
  
}
#cake-bgimg{
  height: auto;
  width: auto;
  background-image: url("../random image/colorful-background-template-gentle-classic-texture-holiday-party-events-web-internet-ads_7954-18214.jpg");
  background-size: 1520px 995.7px;
}

section {
  min-height: 100vh;
}
section h2 span{
  color: #ffffff;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 3%, rgba(0,212,255,1) 100%);  padding: 10px 55px;
  border-radius: 20px;
  font-size: 90%;
}
#ownerbg{
  height: auto;
  width: auto;
  background: 
url("../random image/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.avif");
  background-size: 1500px 995.74px ;

}
video {
  padding: 10px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

footer {
  background-color: #333;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}
div {
  color: rgb(255, 255, 255);
}
h1 {
  margin: 20px;
}
.clip {
  clip-path: circle(40% at 50% 50%);
}
span {
  content: "\2709";
  height: 5px;
}
.fa {
  padding: 20px;
  text-align: center;
  margin: 47px 2px;
  font-size: 30px;
  width: 55px;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-telegram{
  background: rgb(255, 255, 255);
  color: #0088cc;

}
.fa:hover {
  opacity: 0.7;
}
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE transparent;
}

.carousel-cell {

  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.carosel-cell img{
  width: 100%;
}
.profile{
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin: 20px 0px 30px 0px;
  font-family: 'Times New Roman', Times, serif; 
}

.layover{
  position: absolute;
}
.container {
  display: inline-block;
}
h2 span{
text-align: left;
}
.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.container {
  display: inline-block;
}